* {
    box-sizing: border-box;
}

body,
.App {
    padding: 0;
    margin: 0;
}

.hero-page {
    width: 100%;
    height: 400px;
    background: #eaddcf;
}

.darkmode .hero-page {
    background: #3b3a38;
}

.hero-page h1 {
    font-size: 60px;
    color: black;
    text-align: center;
    padding: 120px 0;
    margin: 0 auto;
}

.darkmode .hero-page h1 {
    color: white;
}

.navbar {
    background: #f1c86d;
    padding: 25px 50px;
}

.darkmode .navbar {
    background: #262626;
}

.navbar ul li {
    color: black;
}

.darkmode .navbar ul li {
    color: white;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.container {
    background: #bdc0e7;
}

.darkmode .container {
    background: #05052b;
}

.container ul {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    row-gap: 25px;
    padding: 50px 0;
    width: 80%;
    margin: 0 auto;
}

.card {
    background: #f1c86d;
    display: inline-flex;
}

.darkmode .card {
    background: #302b28;
    color: white;
}

.card img {
    border-radius: 50%;
    margin: 20px;
}
